.expanded-episode {
  background: rgba(174, 167, 185);
  border-bottom: 2px solid #442C3E;
}

.collapsed-episode {
  height: 80px;
  background: rgba(174, 167, 185, .5);
  border: 2px solid transparent;
  border-bottom: 2px solid #AEA7B9;
}

.collapsed-episode:hover,
.expanded-episode:hover {
  border: 2px solid white;
}

.collapsed-episode:hover {
  background: rgba(174, 167, 185);
}

.episode-title {
  margin: 0;
  padding: 5px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.arrow {
  height: 20px;
  cursor: pointer;
}

.arrow-up {
  transform: rotate(180deg);
  height: 20px;
  cursor: pointer;
}

.watchlist-button,
.watched-button {
  width: 170px;
}
