.expanded-episode {
  background: #0094A4;
  opacity: .8;
  cursor: pointer;
  border-bottom: 2px solid #442C3E;
}

.collapsed-episode {
  background: #AEA7B9;
  cursor: pointer;
}

.episode-title {
  margin: 0;
  padding: 5px;
}

.arrow {
  height: 20px;
}

.arrow-up {
  transform: rotate(180deg);
  height: 20px;
}
