.tv-show-card {
  width: 275px;
  height: 405px;
}

.tv-card-title {
  width: 210px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 7px;
  font-size: 17px;
  color: white;
}

.tv-card-img {
  box-shadow: 2px 2px 10px black;
  border-radius: 20px;
  position: relative;
  width: 210px;
}

.tv-card-image {
  border-radius: 20px;
}

.tv-card-image:hover {
  opacity: .5;
}

.view-series-btn:hover .tv-card-image {
  opacity: .5;
}

.tv-card-network {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin: 0;
  color: #aea7b9;
}

