.featured-tv-show {
  display: flex;
  justify-content: center;
  margin: 10px 0 50px 0;
}

.featured-info {
  width: 600px;
}

.featured-title {
  font-size: 35px;
  margin: 0 0 15px 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-left: 5px;
}

.featured-summary {
  font-family: 'Raleway', sans-serif;
  border-radius: 3px;
  cursor: default;
  overflow: auto;
  max-height: 150px;
  transition: border 500ms;
  padding: 5px;
  border: 2px solid transparent;
  color: white;
}

.featured-runtime,
.featured-date,
.featured-rating {
  margin-left: 5px;
  color: white;
  font-family: 'Raleway', sans-serif;

}

.featured-summary:hover {
  border: 2px solid #AEA7B9;
  box-shadow: inset 0 -45px 130px -55px #AEA7B9;
}

.featured-img {
  height: 354px;
  width: 252px;
  margin-left: 25px;
  box-shadow: -2px 4px 25px black;
}
