.tv-show-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  min-height: 110%;
}

.tv-show-modal {
  position: relative;
  height: 600px;
  width: 1000px;
}

.modal {
  box-shadow: 5px 5px 20px black;
}

.image-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 600px;
}

.overlay {
  position: absolute;
  top: 0;
  background: #442c3e;
  opacity: .7;
  width: 100%;
  height: 100%;
}

.series-background {
  position: absolute;
  top: 0;
  width: 100%;
  filter: blur(25px) grayscale(70%);
}

.series-info {
  position: relative;
  z-index: 1000;
  display: flex;
  padding: 20px 20px;
}


.seasons {
  width: 500px;
}

.series-title {
  color: white;
  font-size: 30px;
  margin: 0 0 10px 0;
  font-family: 'Raleway', sans-serif;
}

.series-summary {
  color: white;
  height: 150px;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  border: 2px solid transparent;
}

.series-summary:hover {
  border: 2px solid #AEA7B9;
  box-shadow: inset 0 -45px 130px -55px #AEA7B9;
}

.image-wrapper {
  height: 325px;
  width: 530px;
  overflow: hidden;
}

.series-image {
  width: 530px;
  position: center;
  position: relative;
  top: -100px;
}

.episodes {
  width: 530px;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.series-episodes {
  width: 100%;
  overflow: hidden;
  height: 235px;
  text-align: left;
  border: 2px solid transparent;
}

.series-episodes:hover {
  border: 2px solid #a6d4d3;
  overflow: auto;
  transition: all .5s;
}

.collapse-modal {
  position: relative;
  top: -36px;
  left: 572px;
  z-index: 10000;
  height: 20px;
  background: none;
  border: none;
}

.collapse-modal-icon {
  height: 30px;
  transform: rotate(45deg);
  opacity: .5;
}

.collapse-modal-icon:hover {
  opacity: 1;
}