.tv-show-modal {
  position: relative;
  height: 600px;
  width: 1000px;
}

.image-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 600px;
}

.overlay {
  position: absolute;
  top: 0;
  background: #0094A4;
  opacity: .5;
  width: 100%;
  height: 100%;
}
.series-background {
  position: absolute;
  top: 0;
  width: 100%;
  filter: blur(25px) grayscale(70%);
}

.series-info {
  position: relative;
  z-index: 1000;
  display: flex;
  padding: 20px 20px;
}

.seasons {
  width: 450px;
}

.series-title {
  color: white;
  font-size: 30px;
  margin: 0 0 10px 0;
  font-family: 'Raleway', sans-serif;
}

.series-summary {
  color: white;
  height: 150px;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
}

.watchlist-button,
.watched-button,
.favorite-button {
  background: none;
  outline: none;
  border: none;
}

.watchlist-icon,
.watched-icon,
.favorite-icon {
  height: 20px;
}

.image-wrapper {
  height: 325px;
  width: 530px;
  overflow: hidden;
}

.series-image {
  width: 530px;
  position: center;
  position: relative;
  top: -100px;
}

.episodes {
  width: 530px;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.series-episodes {
  width: 100%;
  overflow: auto;
  height: 235px;
  text-align: left;
}